/* ============== LOGIN ============== */
#main .login-wrap {
    width: 300px;
    height: 500px;
    margin: 0 auto;
}

.login-wrap .logo {
    width: 100%;
    height: 170px;
    margin-top: 20px;
    text-align: center;
}

.login-wrap .logo img {
    width: 100px;
    margin: 0 auto;
    -webkit-filter: drop-shadow(0 12px 8px #0d1a37);
}

.login-wrap .logo h3,
.login-wrap .logo p {
    margin: 0;
    padding: 0;
    color: #eee;
}

.login-wrap .logo h3 {
    font-family: 'Dancing Script', cursive;
    margin-top: 10px;
}

.login-wrap .logo p {
    font-family: 'Josefin Sans', sans-serif;
}

.login-wrap .form-wrap {
    width: 100%;
    height: 400px;
    padding-top: 50px;
}

.login-wrap .form-wrap input,
.login-wrap .form-wrap button {
    margin: 8px 0;
    width: 100%;
    height: 40px;
}

.login-wrap .form-wrap button {
    font-size: 20px;
}

.login-wrap .line-box {
    margin-top: 12px;
    height: 20px;
    width: 100%;
}

.login-wrap .line-box .line {
    height: 50%;
    width: 120px;
    float: left;
    margin: 0 10px;
    border-bottom: 1px solid rgb(26, 55, 83);
}

.login-wrap .line-box .or {
    height: 100%;
    width: 20px;
    text-align: center;
    color: rgb(26, 55, 83);
    float: left;
}

.login-wrap .form-wrap .regist {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    padding-top: 10px;
}


/* ============== TEXT ============== */
.text-right {
    text-align: right;
}

/* ============== OBJECTS ============== */
.object-right {
    float: right;
}

.object-opacity {
    opacity: 0.6;
}

.object-radius {
    border-radius: 4px;
}

.one-content-head {
    border-radius: 4px 4px 0 0 / 4px 4px 0 0;
    border: 1px solid #ccc;
    margin: 12px;
    margin-bottom: 0;
    padding: 8px;
    position: relative;
    bottom: -1px;
    font-size: 15px;
    font-weight: bold;
    color: #555;
}

.one-content {
    border-radius: 0 0 4px 4px / 0 0 4px 4px;
    border: 1px solid #ccc;
    margin: 12px;
    margin-top: 0;
}

/* ============== TICKET ============== */
.ticket {
    margin: 0;
    padding: 0;
}

.ticket li {
    list-style: none;
    border-bottom: 1px solid #ccc;
    height: 60px;
}

.ticket li:last-child {
    border-bottom: none;
    border-radius: 0 0 4px 4px / 0 0 4px 4px;
}

.ticket li:hover {
    background: #eef7fd;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.ticket li a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: inline-block;
}

.ticket li a div {
    height: 100%;
    float: left;
    padding-top: 20px;
    color: #777;
}

.ticket .id,
.ticket .status,
.ticket .day,
.ticket .count {
    width: 10%;
    text-align: center;
    font-size: 12px;
}

.ticket .detail {
    width: 60%;
    padding: 0;
}

.ticket .name,
.ticket .author {
    height: 50%;
    width: 100%;
    padding: 0;
}

.ticket .name {
    padding-top: 10px;
    color: #337ab7;
    font-weight: bold;
}

.ticket .count i {
    font-weight: lighter;
    font-size: 6px;
    margin-right: 1px;
}

/* ============== TAGS ============== */
.new {
    width: 20px;
    height: 13px;
    background: #d25653;
    color: #fefefe;
    padding: 4px 8px;
    border-radius: 4px;
    letter-spacing: 1px;
    font-size: 2px;
}

/* ============== DETAIL-HEADER ============== */
.detail-header {
    width: 100%;
    height: 100%;
    float: left;
    color: #fefefe;
}

.detail-header div {
    height: 100%;
    float: left;
    padding-top: 20px;
}

.detail-header .id,
.detail-header .status,
.detail-header .day,
.detail-header .count {
    width: 10%;
    text-align: center;
    font-size: 12px;
}

.detail-header .name,
.detail-header .author {
    height: 50%;
    width: 100%;
    padding: 0;
}

.detail-header .name {
    padding-top: 10px;
    font-weight: bold;
}

.detail-header .detail {
    width: 60%;
    padding: 0;
}

/* ============== AUTHOR ============== */
.author {
    margin: 0;
    padding: 0;
}

.author li {
    list-style: none;
    border-bottom: 1px solid #ccc;
    height: 70px;
}

.author li:last-child {
    border-bottom: none;
    border-radius: 0 0 4px 4px / 0 0 4px 4px;
}

.author li a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: inline-block;
}

.author li a div {
    height: 100%;
    float: left;
    padding-top: 25px;
    color: #777;
}

.author .thumbnail {
    width: 20%;
    padding: 0;
    margin: 0;
    border: 0;
    overflow: hidden;
    border-radius: 0;
}

.author .name {
    width: 80%;
    padding-left: 12px;
    color: #337ab7;
    font-weight: bold;
}

.author li:hover {
    background: #eef7fd;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}


/* ============== STORE-TICKET ============== */
.store-ticket {
    margin: 12px;
    padding: 0;
}

.store-ticket li {
    list-style: none;
    text-align: left;
    border: 1px solid #ccc;
    border-radius: 4px;
    float: left;
    margin-bottom: 12px;
    width: 100%;
}

.store-ticket li a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: inline-block;
}

.store-ticket li div {
    float: left;
}

.store-ticket .header {
    width: 100%;
    border-bottom: 1px solid #ccc;
}

.store-ticket .header .thumbnail {
    width: 30%;
    border: 0;
    margin: 0;
    border-radius: 4px 4px 0 0 / 0 0 0 0 ;
    padding: 0;
    overflow: hidden;
}

.store-ticket .header .thumbnail img {
    width: 100%;

}

.store-ticket .header .info {
    width: 70%;
    height: 100%;
    padding: 8px;
}

.store-ticket .header .info div {
    width: 100%;
    float: left;
}

.store-ticket .header .info .title {
    font-size: 15px;
    font-weight: bold;
}

.store-ticket .header .info .author,
.store-ticket .header .info .detail {
    font-size: 11px;
    margin-bottom: 8px;
}

.store-ticket .footer {
    width: 100%;
    height: 50px;
}

.store-ticket .footer a:hover {
    background: #eef7fd;
    cursor: pointer;
}

.store-ticket .footer .l,
.store-ticket .footer .r {
    width: 50%;
    height: 100%;
    float: left;
}

.store-ticket .footer .l span {
    width: 100%;
    height: 50%;
    float: left;
    text-align: right;
    padding-right: 20px;
}

.store-ticket .footer .type {
    padding-top: 7px;
    font-size: 16px;
}

.store-ticket .footer .detail {
    padding-top: 3px;
    font-size: 11px;
    color: #888;
}

.store-ticket .footer .r {
    padding-top: 10px;
}

.store-ticket .footer .plice {
    font-size: 20px;
    font-weight: bold;
}

.store-ticket .footer .plice span {
    font-size: 14px;
    margin-left: 3px;
}


/* ============== MY-TICKET-DETAIL ============== */
.my-ticket-detail ul {
    display: inline-block;
    margin-bottom: 0;
}

.my-ticket-detail ul li {
    margin-bottom: 8px;
}

.my-ticket-detail ul li .right {
    height: 100%;
    width: 60%;
    display: inline-block;
    float: left;
    padding-left: 4px;
    padding-top: 13px;
    font-size: 18px;
    font-weight: bold;
}

.my-ticket-detail ul li .right span {
    margin-left: 3px;
    font-size: 13px;
}

.my-ticket-detail ul li .left {
    height: 100%;
    width: 40%;
    padding-right: 4px;
    padding-top: 18px;
    text-align: right;
    display: inline-block;
    float: left;
    font-size: 13px;
}


/* ============== MODAL ============== */
.modal-content {
    border-radius: 0;
}

.modal-content .modal-header,
.modal-content .modal-footer {
    border: 0;
}

.modal-content .modal-body {
    padding: 0 5%;
    padding-bottom: 4px;
}

.modal-content .modal-body .message-wrap {
    width: 100%;
    height: 80px;
}

.modal-body .message-wrap .img-box,
.modal-body .message-wrap .message-box {
    float: left;
    height: 100%;
}

.modal-body .message-wrap .img-box {
    width: 30%;
}

.modal-body .message-wrap .img-box div {
    width: 80px;
    height: 80px;
    margin: 0 auto;
}

.modal-body .message-wrap .img-box div img {
    height: 100%;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.modal-body .message-wrap .message-box {
    width: 70%;
    font-size: 12px;
    padding: 15px 0;
}


.modal-body .form-wrap {
    width: 90%;
    height: 34px;
    margin: 0 auto;
    margin-top: 12px;
    margin-bottom: 70px;
    border-top: 1px solid #dedede;
    padding-top: 24px;
}

.modal-body .form-wrap input {
    width: 70%;
    float: left;
}

.modal-body .form-wrap button {
    width: 25%;
    margin-left: 5%;
    float: left;
}
